@import "../config.styl"

.article-item
  font-family "Xingkai SC"

.article-title
  font-size 30px
  line-height 50px

.article-desc
  font-size 20px
  line-height 40px

.article-division
  width 200px
  margin-top 40px
  border-bottom silver 1px solid
