// 主题色
theme-puce = #333333
theme-gray = #d1d1d1
theme-pink = #c9799e
theme-green = #56a397
theme-blue = #95ccff
hover-white = #fafafa
// 最低宽度
min-width = 280px

// header实际高度
header-height = 60px
// logo宽度
logo-width = 60px
logo-height = 60px
// 关灯开灯 高宽
light-width = 30px
light-height = 30px

// footer 高度
footer-height = 3000px

// @media 三种尺寸
low-width = 500px
medium-width = 840px
high-width = 1280px
// 文字字体大小
font-size = 14px
